table.recordtable {
    font-family:arial;
    background-color: #CDCDCD;
    margin:5px 0pt 5px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
    border-spacing: 1px;
}
table.recordtable td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.recordtable tr.odd td {
    background-color:#F0F0F6;
}
table.recordtable th {
    background-color: #E6EEEE;
    padding: 4px;
    border: 1px solid #FFF;
}
table.recordtable th.highlight {
    background-color: #8DBDD8;
    padding: 4px;
}